WDW_DATABASE_URL=postgres://wdwfleet:wdwfleet@localhost:5432/wdwfleet?sslmode=disable
WDW_LISTEN_ADDR=:8080
WDW_LOG_LEVEL=info
# Filesystem root for vehicle photos and other blobs. Container
# deployments should mount a volume here.
WDW_BLOB_ROOT=./data/blob
